<section class="subscribe-form">
{{#if @member}}
{{else}}
    <h3 class="subscribe-form-title">Login to {{@site.title}}</h3>
    <p class="subscribe-form-description">Sign into your account again for full access</p>
    <form data-members-form="signin">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Send login link</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
        </div>
        <div class="message-error">
            <p data-members-error><!-- error message will appear here --></p>
        </div>
    </form>
{{/if}}
</section>
